.module--2_3_4_up{
	.title{
	}

	.blocks{
		justify-content: center;
	}

	.block{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.no-js{
	.module--2_3_4_up{
		@include fallbackAnimation(fadeInAnimation);;
	}
}