.module--case_study_slider{
	opacity: 0;

	.case-study-summary{}

	.slick-track {
	}

	.slick-slide {
	}

	.slick-active {
	}

	.slick-arrow{
		z-index: 20;
		&:before{
			color: $black;
			font-size: rem-calc( 30 );
		}
	}
	.slick-prev{
		left: 0;
		transform: translateX( -100% );
	}
	.slick-next{
		right: 0;
		transform: translateX( 100% );
	}
}

.no-js{
	.module--case_study_slider{
		@include fallbackAnimation(fadeInAnimation);;
	}
}